body {
    margin: 0;
    font-family: sans-serif;
    background: #222;
    color: #ddd;
    text-align: center;
}

.App{
    width: 960px;
    margin: 0 auto;
}
h1{
    color: #ffff57;
    font-size: 3em;
    letter-spacing: 2px;
}